{% extends "base_generic.html" %}

{% block content %}
    {% comment %}
        + Личные данные
        + Мои заказы
        + Закладки (?)
        + Уведомления
        + Сообщения (?)
    {% endcomment %}
    <div class="row">
        <div class="col-12 col-xl-3">
            <nav class="nav flex-column">
                <a class="nav-link" href="{% url 'account:index' %}">Личные данные</a>
                <a class="nav-link" href="{% url 'account:orders' %}">Мои заказы</a>
                <a class="nav-link" href="{% url 'account:notifications' %}">Уведомления</a>
            </nav>
        </div>
        <div class="col">
            {% block account-content %} {% endblock %}
        </div>
    </div>
{% endblock %}