<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Подтверждение почты</title>
</head>
<body>
    <h1>Здравствуйте!</h1>

    <p>Спасибо за регистрацию на нашем сайте. Для завершения регистрации и активации вашей учетной записи, пожалуйста, подтвердите свой адрес электронной почты, перейдя по ссылке ниже:</p>

    <p><a href="{{ link }}">Подтвердить почту</a></p>

    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>

    <p>С уважением,<br>Команда {{ name }}</p>
</body>
</html>