{% extends "base_generic.html" %}
{% load has_group %}
{% load static %}

{% block content %}
    {% if perms.store.change_order %}
        <div class="card m-2">
            <div class="card-body">
                <h4 class="mb-2 text-center card-title">Панель управления</h4>
                <a class="mb-2 text-light btn btn-warning w-100" href="{% url 'store:order-update' order.id %}">
                    <i class="bi bi-pencil"></i>
                    Редактировать
                </a>
                <a class="btn text-light btn-warning w-100" href="{% url 'store:order-delete' order.id %}">
                    <i class="bi bi-trash"></i>
                    Удалить
                </a>
            </div>
        </div>
    {% endif %}

    <div class="card m-2 p-2">
        <div class="card-header">
            <h4 class="text-center">Заказ #{{ order.id }}</h4>
            <p class="card-text text-center">Статус: {{ order.get_status }}</p>
        </div>
        <div class="card-body">

            <h4>Клиент</h4>
            <div class="overflow-x-scroll">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>Имя</td>
                        <td>{{ order.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{ order.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>{{ order.phone }}</td>
                    </tr>
                    <tr>
                        <td>Адрес</td>
                        <td>{{ order.address }}</td>
                    </tr>
                    <tr>
                        <td>Сообщение</td>
                        <td>{{ order.message }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h4>Список товаров</h4>
            <div class="overflow-x-scroll">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Продукт</th>
                        <th>Кол-во</th>
                        <th>Цена за шт.</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shoppingcart in order.shoppingcart_set.all %}
                        <tr>
                            <td>
                                <a href="{{ shoppingcart.product.get_absolute_url }}">{{ shoppingcart.product.title }}</a>
                            </td>
                            <td>{{ shoppingcart.quantity }}</td>
                            <td>{{ shoppingcart.price }} ₽</td>
                            <td>{% widthratio shoppingcart.quantity 1 shoppingcart.price %} ₽</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <h4>Итого: {{ order.total|floatformat:"2" }} ₽</h4>
            </div>

        </div>
        <div class="card-footer">
            <p class="card-text">
                Дата и время заказа:
                {{ order.creation_date_time }}
            </p>
        </div>
    </div>
{% endblock %}
